<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arc_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,1}</string>
                <key>spriteSourceSize</key>
                <string>{256,1}</string>
                <key>textureRect</key>
                <string>{{0,0},{256,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arc_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,1}</string>
                <key>spriteSourceSize</key>
                <string>{256,1}</string>
                <key>textureRect</key>
                <string>{{257,0},{256,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{771,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,1}</string>
                <key>spriteSourceSize</key>
                <string>{256,1}</string>
                <key>textureRect</key>
                <string>{{514,0},{256,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{773,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ingame.png</string>
            <key>size</key>
            <string>{1024,1}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5162f060affd5d1fe4a2d3ee6f272234:2f6329f5b4cafe485ec4f3016d224a0b:de3c7a7fc0cae1649732adc36eb84a12$</string>
            <key>textureFileName</key>
            <string>ingame.png</string>
        </dict>
    </dict>
</plist>
